/*-----------------------------------------------------------------------------------

Theme Name: Smartco
Theme URI: http://themepuller.com/smartco
Author: themepuller
Author URI: http://themepuller.com
Description: Smartco WordPress Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: smartco
Tags: one-column,editor-style, featured-images,  sticky-post, threaded-comments, translation-ready

***********************************************/

/*>>> TABLE OF CONTENTS:
----------------------------------------------------------------
  #1.0 Theme default CSS
  #2.0 About Us Page
  #3.0 Project Single Page
  #4.0 Blog Page
  #5.0 Single Blog Page
  #6.0 Contact Us Page
  #7.0 404 Error Page
  #8.0 Coming Soon Page

--------------------------------------------------------------
            #1.0 Theme default CSS
--------------------------------------------------------------
                #1.1 Section heading
                #1.2 Section button
                #1.3 Scroll up
                #1.4 Ajax preloading
                #1.5. Header Menu
                #1.6 Header logo
                #1.7 All menu
                #1.8. Header Image
                #1.9 About Us Section
                #1.10 Service Section
                #1.11 Project Section
                #1.12 Our Feature Section
                #1.13 Counter Section
                #1.14 Our Team Section
                #1.15 Client Section
                #1.16 Blog Section
                #1.17 Contact Section
                #1.18 Footer Section

--------------------------------------------------------------
	        #2.0 About Us Page
--------------------------------------------------------------
                #2.1 Video Section
                #2.2 Expertise
                #2.3 Mission
                #2.4 Brand

--------------------------------------------------------------
	        #3.0 Project single page
--------------------------------------------------------------
                #3.1 Project banner
                #3.2 Single Project img

--------------------------------------------------------------
            #4.0 Blog Page
--------------------------------------------------------------
                #4.1 Header area
                #4.2 Blog filter
                #4.3 Blog grid
                #4.4 Blog Pagination

--------------------------------------------------------------
	        #5.0 Single Blog Page
--------------------------------------------------------------
                #5.1 Single blog header img
                #5.2 Sidebar
                #5.2 Comments

--------------------------------------------------------------
            #6.0 Contact Us Page
--------------------------------------------------------------
                #6.1 Contact form

--------------------------------------------------------------
	        #7.0 404 Error Page
--------------------------------------------------------------
                #7.1 Default Text
                #7.2 404 Animation

--------------------------------------------------------------
	        #8.0 Coming Soon Page
--------------------------------------------------------------
                #8.1 Dot Background
                #8.2 Count Down
                #8.3 Coming Soon Social
----------------------------------------------------------------*/

/*====================  #1.0 Theme default CSS ===================*/

html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    ;
}

a:focus {
    outline: 0px solid
}

img {
    max-width: 100%;
    height: auto
}

p {
    margin: 0 0 15px;
    font-size: 17px;
    line-height: 31px;
    color: #414142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: #6b6fff;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0 none;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.container {
    max-width: 1200px;
}

.margin-btm {
    margin-bottom: 30px
}
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption-text {
    text-align: center;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.gallery-caption {
    display: block;
}
.bypostauthor {
    display: block;
}
.alignleft {
    clear: both;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}
.alignright {
    clear: both;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*============== #1.1 Section heading =================*/

.section-title h4 {
    font-size: 18px;
    text-transform: uppercase
}

.section-title h2 {
    font-weight: 900;
    font-size: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #414142;
    padding-bottom: 20px
}

/*=============== #1.2 Section button ============*/

.section-button {
    margin-top: 40px
}

.section-button a {
    background-color: #6B6FFF;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 5px 16px #bababa;
    box-shadow: 0 5px 16px #bababa;
    border: 1px solid transparent
}

.section-button a:hover {
    border: 1px solid #6B6FFF;
    color: #6B6FFF;
    background-color: transparent;
    -webkit-box-shadow: 0 5px 16px #fff;
    box-shadow: 0 5px 16px #fff;
}

/*============== #1.3 Scroll up ================*/

#scrollUp {
    background: #6B6FFF;
    bottom: 15px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    right: 15px;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 50px;
}

.margin-boottom20 {
    margin-bottom: 20px
}

.margin-boottom30 {
    margin-bottom: 30px
}

/*=================  #1.4 Ajax preloading > #preloader ====================*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F7F7F7;
	z-index: 99999999999999;
	height: 100%;
}

#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	padding: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99999999999999;
}

#status img {
	height: 150px;
	width: 150px;
}


/*==============  #1.5. Header Menu > .main-navigation ===================*/

.main-navigation {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 11;
    -webkit-transition: .5s;
    transition: .5s
}


/*================= #1.6 Header logo > .logo-area ===================*/

.logo-area a img {
    margin-top: 16px;
    display: inline-block;
    -webkit-transition: .7s;
    transition: .7s;
}


/*=========== #1.7 All menu style area =================*/

/*==============  mainmenu > .menuabr =================*/

.main-menu ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative
}

.main-menu ul li a {
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    padding: 32px 0;
    line-height: 1;
    position: relative;
    font-weight: 500;
}

.main-menu ul li a.current:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: 70%;
    left: 0;

}

.main-menu ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #fff;
    top: 70%;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s
}

.main-menu ul li.current-menu-item a:before ,
.main-menu ul li a:hover:before {
    width: 100%
}

.f-right {
    float: right;
}

.mean-container .mean-nav {
    margin-top: 10px;
}

.main-menu ul li ul.sub-menu {
    position: absolute;
    right: 0;
    top: 130%;
    width: 220px;
    background-color: #5155ed;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 10px 0 15px 10px
}
.main-menu ul li ul.sub-menu ul.sub-menu {
    left: 100%;
    
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.sub-menu li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    top: -10px;
}
.main-menu ul li ul.dropdown-home {
    position: absolute;
    left:0;
}
.main-menu ul li i {
    margin-left: 8px
}

.main-menu ul li:hover ul.dropdown-home {
    top: 104%;
    opacity: 1;
    visibility: visible
}

.main-menu ul li:hover ul.dropdown-home li a:before {
    width: 0;
}

ul.dropdown-home li a:hover {
    color: #cccccc
}
.main-menu ul li:hover ul.sub-menu {
    top: 104%;
    opacity: 1;
    visibility: visible
}

.main-menu ul li:hover ul.sub-menu li a:before {
    width: 0;
}

ul.dropdown li a:hover {
    color: #cccccc
}

.main-menu ul li ul.sub-menu li {
    display: block;
    margin-left: 15px
}

.main-menu ul li ul.sub-menu li a {
    padding: 10px 0px;
    -webkit-transition: .5s;
    transition: .5s
}

#mobile-menu {
    display: block;
}

/*===========  stickymenu > .sticky ================*/

.main-navigation.sticky {
    background-color: #6B6FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    -webkit-transition: .5s;
    transition: .5s
}

.sticky .menubar nav ul li {
    padding: 15px 15px;
}

/*============= #1.8. Header Image > .header-image-area ==================*/

.header-image-area {
    height: 100vh;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
}

.header-image-area-2 {
    background-image: url(assets/images/header.jpg);
    height: 100vh;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
    position: relative;

}

.header-image-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 56, 152, 0.9)), color-stop(rgba(40, 42, 85, 0.8)), to(rgba(21, 27, 51, 0.8)));
    background-image: linear-gradient(to bottom, rgba(53, 56, 152, 0.9), rgba(40, 42, 85, 0.8), rgba(21, 27, 51, 0.8))
}
.header-image-area-2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 56, 152, 0.9)), color-stop(rgba(40, 42, 85, 0.8)), to(rgba(21, 27, 51, 0.8)));
    background-image: linear-gradient(to bottom, rgba(53, 56, 152, 0.9), rgba(40, 42, 85, 0.8), rgba(21, 27, 51, 0.8));
}

.bg-pattern-effect {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*================ header image content > .intro-text ===================*/

.intro-text {
    position: absolute;
    left: 0%;
    top: 37%;
    margin: auto;
    right: 0;
    text-align: center
}

.intro-text h1 {
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 900;
    letter-spacing: 1px
}

.intro-text h3 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #e5e5e5;
    font-weight: 400;
    line-height: 28px
}

.learnmore {
    margin-top: 25px
}

.learnmore a {
    background-color: #6B6FFF;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 25px;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
}

.learnmore a:hover {
    background-color: #fff;
    color: #6B6FFF;
}


/*================== #1.9 About Us Section ========================*/

.about-us-area {
    padding: 90px 0;
}

.about-content {
    text-align: right;
    padding-top: 60px
}

.about-img {
    -webkit-box-shadow: 0 0 15px #dadbff;
    box-shadow: 0 0 15px #dadbff;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px
}

.about-img img {
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s
}

.about-img img:hover {
    width: 100%;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #EEEEFE;
    -webkit-transition: .5s;
    transition: .5s
}

.about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #EEEEFE;
    -webkit-transition: .5s;
    transition: .5s
}

/*================= #1.10 Service Section =====================*/

.services-area {
    padding: 90px 0;
    background-color: #f9f9ff
}

.services-content {
    text-align: left;
}

.single-services {
    -webkit-box-shadow: 0 0 15px rgba(218, 219, 255, 0.4);
    box-shadow: 0 0 15px rgba(218, 219, 255, 0.4);
    text-align: center;
    padding: 50px 0 0 0;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #fff
}

.single-services:hover {
    background-color: #EEEEFE;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
    box-shadow: 0px 15px 15px 0px #edeaea;
}

.single-services img {
    margin-bottom: 30px
}

.single-services h4 {
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #555454;
    font-weight: 700
}

/*================ #1.11 Project Section =======================*/

.projects-area {
    padding: 90px 0;
}

.projects-content {
    text-align: left;
}

.project-heading h3 {
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #414142;
    font-size: 24px
}

.project-heading h3::before {
    position: absolute;
    content: "";
    width: 65%;
    height: 4px;
    background-color: #353899;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -10px;
}

.pa-margintop {
    padding-top: 40px;
    margin-bottom: 30px
}

.single-project {
    position: relative;
    overflow: hidden;
}

.single-project img {
    -webkit-transition: 1s;
    transition: 1s
}

.single-project:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.portfolio-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(107, 111, 255, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 44%;
    -webkit-transition: .5s;
    transition: .5s
}

.single-project:hover .portfolio-text {
    background-color: rgba(107, 111, 255, 0.5);
}

.portfolio-text h5 {
    color: #fff;
    margin: 0;
    font-size: 25px;
    margin-left: -1200px;
    -webkit-transition: .7s;
    transition: .7s;
    text-transform: capitalize;
    font-weight: 700
}

.portfolio-text a {
    background-color: #fff;
    text-decoration: none;
    color: #6B6FFF;
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 30px;
    -webkit-transition: .7s;
    transition: .7s;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-left: -700px
}

.portfolio-text a:hover {
    background-color: #6B6FFF;
    color: #fff;
}

.single-project:hover .portfolio-text a {
    margin-left: 0
}

.single-project:hover .portfolio-text h5 {
    margin-left: 0
}

.owl-carousel .owl-dot.active {
    background-color: #6B6FFF !important;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.owl-carousel .owl-dot {
    background-color: rgba(107, 111, 255, 0.5) !important;
    display: inline-block;
    height: 15px;
    margin: 0 3px;
    width: 15px;
    border-radius: 100%;
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px;
}

/*================== #1.12 Our Feature Section ======================*/

.our-features {
    padding: 90px 0;
    background-color: #F9F9FF
}

.features-heading {
    text-align: center;
}

.features-heading h2 {
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #686ab3;
}

.features-heading h4 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #414142;
    font-size: 18px;
    margin-bottom: 80px
}

.features-heading h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #686ab3;
    left: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.single-features {
    -webkit-box-shadow: -6px 10px 40px rgba(234, 229, 244, 0.7);
    box-shadow: -6px 10px 40px rgba(234, 229, 244, 0.7);
    text-align: center;
    padding: 40px 20px;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.single-features:before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 0;
    height: 3px;
    background: #686ab3;
    -webkit-transition: .7s;
    transition: .7s;
}

.single-features:after {
    content: '';
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #686ab3;
    -webkit-transition: .7s;
    transition: .7s;
}

.single-features:hover:before {
    left: 0;
    width: 100%;
}

.single-features:hover:after {
    right: 0;
    width: 100%;
}

.single-features img {
    margin-bottom: 30px
}

.single-features h4 {
    color: #414142;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.single-features p {
    font-size: 15.5px;
    line-height: 27px
}

/*=============== #1.13 Counter Section ===================*/

.counter-up-area {
    background-image: url(assets/img/counterup-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    padding: 90px 0;
}

.single-count-area {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.single-count-area span {
    font-size: 36px
}

.single-count-area p {
    font-size: 22px;
    margin-top: 10px;
    color: #fff
}

/*================ #1.14 Our Team Section ====================*/
.our-team-area {
    padding: 90px 0;
    background-color: #F9F9FF
}

.team-heading {
    text-align: center;
    margin: auto
}

.team-heading h2 {
    font-weight: 900;
    font-size: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #686ab3;
}

.team-heading h4 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #414142;
    font-size: 18px;
    margin-bottom: 80px
}

.team-heading h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #686ab3;
    left: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.our-team {
    overflow: hidden;
    position: relative;
    border: 2px solid #EEEEFE
}

.our-team:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(107, 111, 255, 0.7);
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.our-team:hover:after {
    top: 0;
    opacity: 1;
}

.our-team img {
    width: 100%;
    height: auto;
}

.our-team .social {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.our-team:hover .social {
    top: 38%;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-size: 20px;
    color: #6b6fff;
    margin: 0 2px;
}

.our-team .update-social-icon li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-size: 20px;
    color: #6b6fff;
    margin: 0 2px;
    border-radius: 25px;
}

.our-team .team-content {
    width: 100%;
    padding: 20px 25px;
    background: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.our-team:hover .team-content {
    background: #6b6fff;
}

.our-team .team-content:before {
    content: "";
    width: 100%;
    border-right: 420px solid #fff;
    border-top: 60px solid transparent;
    position: absolute;
    top: -59px;
    left: 0;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
}

.our-team:hover .team-content:before {
    border-right-color: #6b6fff;
}

.our-team .title {
    font-size: 20px;
    color: #6b6fff;
    margin: 0;
    text-align: right;
    font-weight: 700;
    margin-top: -15px;
}

.our-team .post {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #686ab3;
    margin-top: 3px;
    text-align: right;
    font-weight: 700
}

.our-team:hover .title {
    color: #fff !important
}

.our-team:hover .post {
    color: #e2e2e2 !important
}

/*================ #1.15 Client Section ====================*/

.client-testimonial {
    padding: 90px 0;
}

.testimonial-heading {
    text-align: center;
    margin: auto
}

.testimonial-heading h2 {
    font-weight: 900;
    font-size: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #686ab3;
}

.testimonial-heading h4 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #414142;
    font-size: 18px;
    margin-bottom: 80px
}

.testimonial-heading h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #686ab3;
    left: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.single-testimonial {
    -webkit-box-shadow: 0 0 15px #ededed;
    box-shadow: 0 0 15px #ededed;
    text-align: center;
    padding: 30px;
    margin: 15px;
    -webkit-transition: .5s;
    transition: .5s
}

.single-testimonial:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
    box-shadow: 0px 15px 15px 0px #edeaea;
}


.client-img img {
    width: 130px !important;
    margin: auto;
    margin-top: 5px;
    height: 130px !important;
    border-radius: 50% !important;
    border: 3px solid transparent !important;
    -webkit-transition: .5s;
    transition: .5s
}
.single-testimonial:hover .client-img img {
    border: 3px solid #6B6FFF !important;
}

.testimonial-content h5 {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 19px
}

.testimonial-content h6 {
    font-size: 16px;
    margin-top: -5px
}

.testimonial-content p {
    font-size: 15.5px;
    line-height: 26px;
    margin-bottom: 0;
    color: #414142;
}

/*============= #1.16 Blog Section ==============*/

.latest-blog-area {
    padding: 90px 0;
    background-image: url(assets/img/blog-bg.jpg);
}

.blog-heading {
    text-align: center;
    margin: auto
}

.blog-heading h2 {
    font-weight: 900;
    font-size: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.blog-heading h4 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-bottom: 80px
}

.blog-heading h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #fff;
    left: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.single-blog {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 50px;
}

.single-blog .blog-image img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog-image {
    position: relative;
    overflow: hidden;
}
.blog-item .blog-image {
    margin-bottom: -100px;
}
.blog-image img {
    -webkit-transition: .7s;
    transition: .7s;
    width: 100%
}

.blog-tag {
    position: absolute;
    top: 15px;
    right: 0;
}
.blog-tag span a {
    background-color: #6b6fff;
    color: #fff;
}
.blog-tag span {
    background-color: #6b6fff;
    padding: 8px 18px;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    display: block;
    text-align: center
}

.blog-content {
    padding: 20px 20px 25px 20px
}

.blog-content-heading {
    display: inline-block;
    width: 70%
}

.blog-date {
    display: inline-block;
    width: 28%
}

.blog-content-heading h4,
.blog-content-heading h4 > a {
    font-size: 18px;
    color: #414142;
    text-transform: uppercase;
    font-weight: 700;
}

.blog-date span {
    font-size: 14px;
    color: #686868;
    text-transform: capitalize;
    text-align: right;
    display: block
}

.blog-content p {
    font-size: 15.5px;
    line-height: 26px;
    margin-bottom: 0;
}

.blog-readmore-btn {
    text-transform: capitalize;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #6b6fff;
    position: relative;
    margin-top: 10px
}

.blog-readmore-btn::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #6b6fff;
    left: 0;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -5px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.blog-readmore-btn:hover:before {
    width: 50px;
    opacity: 1;
    visibility: visible;

}

/*========== #1.17 Contact Section ==============*/

.contact {
    height: 65vh;
    background-image: url('assets/img/about-page-bg.jpg');
}

.contact-area {
    padding: 90px 0;
}

.contact-content {
    padding-right: 30px
}

.contact-icon {
    text-align: right;
    margin-bottom: -40px
}

.contact-box {
    padding: 15px;
}

.form-d {
    background-color: #E1E1FF;
    border: 15px solid #EFEFFF;
    padding: 30px;
    margin-top: 60px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 80px
}
.form-d2 {
    margin-top: 0px;
    margin-bottom: 0px
}

.form-d:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
    box-shadow: 0px 15px 15px 0px #edeaea;
}

.form-d input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 35px;
    resize: vertical;
    background: transparent;
    border-bottom: 2px solid #D4D4FF;
    -webkit-transition: .5s;
    transition: .5s
}

.form-d input[type="text"]:focus {
    border-bottom: 2px solid #7e7ef2;
    padding: 12px 0 12px 15px
}

.form-d input[type="email"]:focus {
    border-bottom: 2px solid #7e7ef2;
    padding: 12px 0 12px 15px
}

.form-d textarea:focus {
    border-bottom: 2px solid #7e7ef2;
    padding: 12px 0 12px 15px
}

.form-d input[type="email"] {
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 35px;
    resize: vertical;
    background: transparent;
    border-bottom: 2px solid #D4D4FF;
    -webkit-transition: .5s;
    transition: .5s
}

.form-d input[type=submit] {
    background-color: #6B6FFF;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 5px 16px #bababa;
    box-shadow: 0 5px 16px #bababa;
    border: 1px solid transparent;
    margin: auto;
    display: block;
    margin-top: 20px
}

.form-d input[type=submit]:hover {
    border: 1px solid #6B6FFF;
    color: #6B6FFF;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 16px transparent;
    box-shadow: 0 5px 16px transparent;
    cursor: pointer
}

/*============= #1.18 Footer Section ================*/
.footer-area {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 100% 100%, 0 100%);
    position: relative;
    color: #fff
}

.footer-area::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 56, 153, 0.95);
}
.footer-area-2 {
    position: relative;
    color: #fff
}

.footer-area-2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 56, 153, 0.95);
}

.footer-icon {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -200px;
}

.footer-top {
    padding: 120px 0 90px 0;
}

.single-widget h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.single-widget .border-right {
    border-right: 2px solid #fff
}

.company-logo img {
    width: 180px
}

.about-company p {
    color: #e5e5e5;
    font-size: 15.5px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.social li {
    display: inline-block;
    margin-right: 10px
}

ul.social li a {
    display: inline-block;
    background-color: #fff;
    color: #2e307d;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s
}

ul.social li a:hover {
    color: #6B6FFF
}

.single-widget.widget_nav_menu ul li a {
    color: #e5e5e5;
    font-size: 15.5px;
    line-height: 26px
}

.our-address p,
.newsletter p {
    color: #e5e5e5;
    font-size: 15.5px;
    line-height: 26px;
}

.our-address a {
    color: #e5e5e5;
    font-size: 15.5px;
    line-height: 26px;
}

.our-address i {
    margin-right: 10px;
    color: #e5e5e5;
    line-height: 28px;
}

.newsletter #newssubmit {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 15px;
    -webkit-transition: .5s;
    transition: .5s
}

.newsletter .subscribe {
    border: none;
    background-color: #6B6FFF;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s
}

.newsletter #newssubmit:focus {
    padding: 10px 0 10px 15px;
}

.newsletter .subscribe:hover {
    background-color: #fff;
    color: #6B6FFF
}

/*======== Footer bottom ===========*/

.footer-bottom {
    background-color: #2e307d;
    height: 80px
}

.footer-bottom p {
    color: #e5e5e5;
    line-height: 80px;
    margin: 0;
    text-align: center;
}

.footer-bottom a {
    color: #b9b9e6;
    font-weight: 700
}


/*================== #2.0 About Us Page =========================*/

.about {
    height: 65vh;
    background-image: url('assets/img/about-page-bg.jpg');
}

.success-area {
    padding: 90px 0;
}

.about-p-reduce {
    padding-top: 0
}

/*========== #2.1 Video Section ================*/

.video-content {
    padding-top: 0
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #6B6FFF;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #6B6FFF;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.video-play-button:hover:after {
    background-color: #9352f0a6;
}

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0px;
    height: 0;
    border-left: 20px solid #fff;
    border-top: 14px solid transparent;
    border-bottom: 13px solid transparent;
    margin-right: -6px;
}

@-webkit-keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
}

.video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
}

.video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.video-overlay-close:hover {
    color: #fa183d;
}

.video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.youtube-video-wrapper {
    background: url('assets/img/about-video-bg.jpg') top center no-repeat;
    background-size: initial;
    padding: 160px 0;
    position: relative;
    text-align: center;
}

.popup-gallery {
    display: inline-block;
    position: relative;
}

a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
}

.youtube-video-icon {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    display: inline-block;
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
    color: #6B6FFF;
}

.youtube-video-icon i {
    font-size: 60px;
    line-height: 100px;
    color: #6B02FF;
    margin-left: 10px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

/*========== #2.2 Expertise =============*/

.our-expertise {
    padding: 90px 0;
}

.expertise-heading h2 {
    font-weight: 900;
    font-size: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #414142;
}

.expertise-heading {
    text-align: center;
    margin: auto
}

.expertise-heading p {
    padding-bottom: 15px
}

.expertise-item {
    position: relative;
    overflow: hidden;
}

.expertise-item:hover .expertise-text {
    background-color: rgba(107, 111, 255, 0.7)
}

.expertise-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(107, 111, 255, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30%;
    -webkit-transition: .5s;
    transition: .5s;
}

.expertise-text h5 {
    color: #fff;
    margin: 0;
    font-size: 26px;
    margin-left: -1200px;
    -webkit-transition: .7s;
    transition: .7s;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    display: inline-block
}

.expertise-text h5::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #fff;
    left: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.expertise-item:hover .expertise-text h5::before {
    width: 65%
}

.expertise-item .expertise-text h5 {
    margin-left: 0
}

/*============ #2.3 Mission ===================*/

.our-mission {
    padding: 90px 0;
}

.mission-content {
    padding-top: 0;
}

.mission-content ul {
    margin-left: 20px;
}

.mission-content ul li {
    list-style: none;
    list-style-image: url('assets/images/list.png');
    line-height: 28px
}

.mission-list {
    padding-left: 15px;
    list-style: disc;
}

/*=================== #2.4 Brand =====================*/

.our-partner {
    padding: 90px 0;
}

.brand-item {
    padding: 20px;
    text-align: center;
}

/*===================== #3.0 Project Single Page ====================*/

/*========== #3.1 Project banner ===============*/

.project {
    height: 65vh;
    background-image: url('assets/img/about-page-bg.jpg');
}

.projects-area-single-page {
    padding: 90px 0 0;
}

.project-single {
    padding: 90px 0;
}

.single-project-area {
    margin: -6px 0px 0px 2px;
}

/*=========== #3.2 Single Project img ===================*/

.single-project-image {
    overflow: hidden;
}

.single-project-image img {
    -webkit-transition: 1s;
    transition: 1s;
}

.single-project-image:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.single-project-area .single-project-text1 p,
.single-project-area .single-project-text1 {
    margin-bottom: 30px;
}

.single-project-area h2 {
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 25px;
    color: #222;
}

.single-project-area .project-info {
    background-color: #f4f6f8;
    padding: 25px 27px 20px;
}

.single-project-area .project-info h4 {
    font-weight: 600;
    margin-bottom: 22px;
}

.single-project-area .project-info ul li {
    line-height: 30px;
}

.single-project-area .project-info ul li span {
    display: inline-block;
}

.single-project-area .project-info ul li span.name {
    width: 23.6%;
}

.single-project-area .project-info ul li span.info {
    padding-left: 48px;
}

.single-project-gallary {
    padding-left: 0;
}

.project-testimonial {
    margin: 0;
    margin-top: 15px
}

.single-project-gallary img {
    margin-bottom: 10px;
}

.project-grid-padright {
    padding-right: 5px
}

.project-grid-padleft {
    padding-left: 5px
}

/*============================= #4.0 Blog Page =========================*/

/*========== #4.1 Header area ==========*/

.blog-header-area {
    height: 65vh;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
}

.blog-header-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 56, 152, 0.9)), color-stop(rgba(40, 42, 85, 0.8)), to(rgba(21, 27, 51, 0.8)));
    background-image: linear-gradient(to bottom, rgba(53, 56, 152, 0.9), rgba(40, 42, 85, 0.8), rgba(21, 27, 51, 0.8))
}

.blog-area {
    padding: 90px 0;
}

/*========== #4.2 Blog filter ==========*/

.blog-filter {
    margin: 50px 0;
    list-style: none;
}

.blog-filter li {
    display: inline-block;
    margin: 8px 8px;
}

.blog-filter li a {
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #6b6fff;
    font-weight: 600;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid transparent
}

.blog-filter li a:hover {
    color: #6b6fff;
    border: 1px solid #6b6fff;
}

.blog-filter li.active a {
    padding: 10px 20px;
    color: #fff;
    background: #6b6fff;
    -webkit-transition: .5s;
    transition: .5s
}

/*========== #4.3 Blog grid ==============*/

.blog-grid .blog-item {
    float: left;
}

.blog-grid .blog-item a:focus {
    outline: none;
}

.main-blog-content {
	-webkit-transition: .5s;
	transition: .5s;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	padding: 30px;
	margin: 0 40px;
	border: 1px solid #f0f8ff;
	text-align: left;
	-webkit-box-shadow: 0 8px 7px -2px #eff0f0;
    box-shadow: 0 8px 7px -2px #eff0f0;
}
/*======= #4.4 Blog Pagination =========*/

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}
.page-links a, 
.page-links .current,
.pagination .current,
.pagination a {
    color: black;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 100%;
    margin: 0 4px;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}
.page-links a:hover, 
.pagination a:hover {
    color: #6b6fff;
    border: 1px solid #6b6fff;
}
.page-links .current,
.pagination .current {
    background-color: #6b6fff;
    color: white;
    border: 1px solid #6b6fff;
}

/*================================ #5.0 Single Blog Page ==============================*/

/*=========== #5.1 Single blog header img ===================*/

.single-blog-header-area {
    background-image: url(assets/img/blog/blog-header.jpg);
    height: 65vh;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
}

.single-blog-header-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 56, 152, 0.9)), color-stop(rgba(40, 42, 85, 0.8)), to(rgba(21, 27, 51, 0.8)));
    background-image: linear-gradient(to bottom, rgba(53, 56, 152, 0.9), rgba(40, 42, 85, 0.8), rgba(21, 27, 51, 0.8))
}

.single-blog-area {
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    padding: 30px;
    bottom: 100px;
    border: 1px solid aliceblue;
    text-align: left;
    -webkit-box-shadow: 0 8px 7px -2px #eff0f0;
    box-shadow: 0 8px 7px -2px #eff0f0;
}

.single-blog-area p {
    font-size: 15.5px;
    line-height: 28px
}

.single-blog-title {
    padding: 25px 0;
    font-size: 30px
}

.single-blog-content img {
    padding: 15px 0;
}

/*============= #5.2 Sidebar ===============*/
.post-share {
    display: block;
    margin-top: 20px;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.post-share a i {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 22px;
    text-align: center;
    margin-right: 3px
}

.share1,
.share2,
.share3,
.share4 {
    display: inline-block
}

.sidebar-title p {
    text-transform: capitalize;
    font-size: 19px;
    margin-bottom: 0
}

.sidebar-title span {
    display: block;
    margin-bottom: 15px;
    font-size: 15px
}

.share1 a i {
    background-color: #1da1f2;
    color: #fff
}

.share2 a i {
    background-color: #4267b2;
    color: #fff
}

.share3 a i {
    background-color: #ff4500;
    color: #fff
}

.share4 a i {
    background-color: #e60023;
    color: #fff
}

#inlineFormInputGroupUsername {
    border: 1px solid #ebebeb;
}

.form-control:focus {
    -webkit-box-shadow: 0 0 0 .2rem transparent;
    box-shadow: 0 0 0 .2rem transparent;
}

.input-group-text {
    background-color: #6B6FFF;
    color: #fff;
    cursor: pointer
}

.sidebar-block ul {
    margin-top: 10px
}
.sidebar-block ul ul {
    margin-top: 0px
}
.sidebar-block ul li {
    margin-bottom: 5px;
}

.sidebar-block {
    border-bottom: 2px solid #f5f5f5;
    padding: 25px 0;
}

.sidebar-block ul li a {
    color: #212121;
    font-size: 15px;
    text-transform: capitalize;
}

.sidebar-block ul li a:hover {
    color: #6B6FFF;
}

.sidebar-block ul li:last-child {
    margin-bottom: 0px;
}
.widget_media_image img {
    margin-top: 10px;
}

.latest-post ol {
    margin-top: 10px;
    margin-bottom: 0
}

.latest-post ol li a {
    color: #212121;
    font-size: 15px;
    text-transform: capitalize;
}

.latest-post ol li a:hover {
    color: #6B6FFF;
}

.latest-post ol li a:last-child {
    margin: 0px;
}

.latest-post ol li .rpost-img {
    float: left;
    margin-right: 15px;
    width: 75px;
    height: 75px
}

.latest-post ol li h5 {
    line-height: 22px;
    margin-bottom: 3px;
    font-size: 15px
}

.latest-post ol li {
    clear: both;
    padding: 3px 0px;
}

.latest-post p.text-muted {
    font-size: 12px;
    margin-bottom: 5px;
}
.tagcloud {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tagcloud a {
    border: 1px solid #e1e1e1;
    display: inline-block;
    color: #212121;
    font-size: 12px !important;
    line-height: 1.4em !important;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 6px 17px;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.tagcloud a:hover {
    color: white;
    background-color: #6B6FFF;
}

.top-header {
    padding: 25px 0;
}


.related-post-title {
    padding: 10px 0;
}

.related-blog-content {
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    padding: 30px;
    margin: 0 40px;
    bottom: 120px;
    border: 1px solid aliceblue;
    text-align: left;
    -webkit-box-shadow: 0 8px 7px -2px #eff0f0;
    box-shadow: 0 8px 7px -2px #eff0f0;
}

/*============= #5.3 Comments ===============*/

#comments {
    padding: 20px 0px;
    background-color: #fff;
    margin-bottom: 10px
}

#comments a {
    color: inherit
}

#comments #comments-title {
    margin-top: 0;
    margin-bottom: 15px;
    color: #3e3e3e;
    text-transform: capitalize;
    font-size: 25px;
}

#comments .commentlist {
    margin: 0;
    padding: 0;
    list-style: none
}

#comments .commentlist > .comment .comment-box {
    border-bottom: 2px solid #f7f9f9
}

#comments .commentlist > .comment:last-child .comment-box {
    border-bottom: 0
}

#comments .commentlist .comment-author {
    float: left;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 25px;
}

#comments .commentlist .comment-body p {
    margin-top: 10px;
    font-size: 16px;
}

#comments .commentlist .children {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 85px;
    border-top: 2px solid #f7f9f9;
    margin-top: 30px;
}

#comments .commentlist .children .children {
    margin-left: 30px
}

.commentator a {
    text-transform: capitalize;
    font-weight: 700;
    cursor: default
}

#comments .comment-meta {
    font-size: 12px;
    color: #696969;
    margin-top: 3px
}

#comments .comment-box {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

#comments .comment-abs {
    position: absolute;
    display: inline-block;
    font-size: 0;
    top: 30px;
    right: 0
}

#comments .comment-abs a {
    display: inline-block;
    margin: 4px;
    font-size: 10px;
    text-transform: uppercase;
    color: #848484;
    border: 1px solid #eee;
    padding: 5px 8px;
    letter-spacing: .03em
}

#comments .comment-abs a:hover {
    border-color: #6B6FFF;
    background-color: #6B6FFF;
    color: #fff
}

.comment-reply-form h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #3e3e3e;
    text-transform: capitalize;
    font-size: 25px;
}

.form-control:focus {
    color: #495057;
    border-color: #D4D4FF;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem transparent;
    box-shadow: 0 0 0 .2rem transparent;
}

.form-control {
    border-radius: 0;
    border-color: #D4D4FF;
}

#post-comment {
    background-color: #6B6FFF;
    color: #fff;
    border-radius: 0;
}

#post-comment:focus {
    -webkit-box-shadow: 0 0 0 .2rem transparent;
    box-shadow: 0 0 0 .2rem transparent;
}

/*================== #6.0 Contact Us Page ==================*/

.contact-section {
    padding: 90px 0;
    background-image: url('assets/img/contact-form-bg.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover
}

.mg-bottom-0 {
    margin-bottom: 0 !important;
}

.primary-contact .address {
    margin: 20px 0 15px;
}

.primary-contact .website {
    margin-bottom: 40px;
}

a.launch-map i {
    margin-left: 15px;
    color: #6B6FFF;
    -webkit-transition: .5s;
    transition: .5s
}

a.launch-map {
    background-color: #fff;
    text-decoration: none;
    color: #6B6FFF !important;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 5px 16px transparent;
    box-shadow: 0 5px 16px transparent;
    border: 1px solid #6B6FFF;
    cursor: pointer
}

a.launch-map:hover {
    color: #fff !important;
    background-color: #6B6FFF
}

a.launch-map:hover i {
    color: #fff !important;
}

/*============ #6.1 Contact form =================*/

.contact-form .input {
    width: 100%;
    border: none;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(90, 144, 227, 0.2);
    box-shadow: 1px 1px 10px 0px rgba(90, 144, 227, 0.2);
    padding-left: 18px;
}

.contact-form .name-email {
    height: 45px;
}

.contact-form .help-block.with-errors {
    position: absolute;
    top: 100%;
    left: 0;
}

.contact-form .form-group {
    margin-bottom: 35px;
}

.contact-form .message {
    padding-top: 30px;
    resize: none;
}

.modal-content {
    margin-top: 30%;
    padding-right: 0
}

.form-c {
    margin: 0;
    background-color: #fff;
    border: 10px solid #eeeefe;
}

.contact-us-heading h2 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #686ab3;
    margin-top: 10px
}

.form-c input[type="submit"] {
    display: inline-block;
}

.form-c input[type="text"],
textarea {
    margin-top: 0;
    margin-bottom: 20px;
}

/*======= #7.0 404 Error Page =========*/
.error-page-header {
    background-color: #6B6FFF;
    top: 0
}

.error-page {
    background-image: url(assets/images/404.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.is-animate {
    position: absolute;
    bottom: 25%;
    left: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*============= #7.1 Default Text =============*/
.defult-text {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    text-align: center
}

.defult-text h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
    color: #9590e5;
}

.defult-text a {
    border: 1px solid #6b6fff;
    color: #6b6fff;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-transition: .5s;
    transition: .5s
}

.defult-text a:hover {
    background-color: #6b6fff;
    color: #fff
}

/*============= #7.2 404 Animation =============*/
.is-animate div {
    display: inline-block;
}

.is-animate span {
    font-size: 120px;
    font-weight: 900;
    color: #9590e5
}

.is-animate.style1 > div {
    -webkit-animation-name: style1;
    animation-name: style1;
}

.is-animate > div {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.is-animate > div:nth-child(1) {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s
}

.is-animate > div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s
}

.is-animate > div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

/*======= #8.0 Coming Soon Page =========*/
.coming-soon-area {
    background-image: url('assets/images/coming-soon.jpg');
    height: 100vh;
    width: 100%;
    position: relative
}

/*======= #8.1 Dot Background =========*/
.coming-soon-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/pattern.png')
}

.coming-soon-text h1 {
    text-transform: uppercase;
    color: #e0e0e0;
    text-align: center;
    font-weight: 400;
    font-size: 31px;
    margin-bottom: 40px;
    margin-top: 10px
}

.coming-soon-text {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.coming-soon-text a img {
    width: 250px
}

/*======= #8.2 Count Down =========*/
ul.countdown li {
    display: inline-block;
    width: 80px;
    height: 75px;
    background-color: #6A6EFF;
    margin-right: 15px;
    line-height: 75px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif
}
ul.countdown li:first-child{margin-left: 0}
ul.countdown li p {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 5px
}

/*======= #8.3 Coming Soon Social =========*/
.coming-share {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    text-align: center
}

.coming-share a {
    color: #fff;
    margin-left: 10px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-transform: uppercase;
}

.coming-share span {
	font-size: 19px;
	display: block;
    margin-bottom: 5px;
    color: #fff;
    line-height: 35px;
    text-transform: uppercase;
}

.coming-share a:first-child {
    margin-left: 0
}

/*=====================================
=======================================
THE END
=======================================
=====================================*/




.admin-bar .main-navigation {
    top: 32px;
}
textarea.form-textarea {
    height: 50px;
}
.logged-in-as {
    margin-bottom: 20px;
}
.sticky .single-blog .main-blog-content {
    background-color: #f3f3f3;
}
.sidebar-block ul {
    list-style: inside disc;
    color: #6B6FFF;
    margin-bottom: 0 !important;
}
.sidebar-block > ul {
    padding: 0 !important;
}
.sidebar-block ul li a {
    display: inline-block;
    font-size: 15px;
    padding: 3px 0px 3px 0px;
    text-transform: capitalize;
    position: relative;
}
table, th, td {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1) !important;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 10px;
}
th, td {
    padding: 0.5em;
    text-align: center;
}
.single-blog-area ul,
.page-area ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 15px;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}
select {
    max-width: 270px;
    width: 100%;
    background: transparent;
    margin-left: 0;
    height: 50px;
    padding: 10px;
    color: #000;
    border: 1px solid #6B6FFF;
    border-radius: 3px;
    margin-top: 11px;
}
.page-links {
    overflow: hidden;
    display: block;
    width: 100%;
}
.blog-content .page-links {
    margin: 10px 0;
}
#comments .commentlist > .comment .children .comment-box {
    border-bottom: 0;
}
.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
}
.gallery-columns-1 .gallery-item {
    max-width: 100%;
    width: 100%;
}
@media screen and (min-width: 30em){
    .gallery-columns-1 .gallery-item {
        max-width: 100%;
    }
}
.gallery-columns-2 .gallery-item {
    max-width: 100%;
    width: 50%;
}
@media screen and (min-width: 30em){
    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }
}

.gallery-columns-3 .gallery-item {
    max-width: 100%;
    width: 33.33%;
}
@media screen and (min-width: 30em){
    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }
}
.gallery-columns-4 > .gallery-item {
    max-width: 100%;
    width: 25%;
}
@media screen and (min-width: 30em){
    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }
}
.gallery-columns-5 .gallery-item {
    max-width: 100%;
    width: 20%;
}
@media screen and (min-width: 48em){
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }
}
.gallery-columns-6 .gallery-item {
    max-width: 100%;
    width: 16.66%;
}
@media screen and (min-width: 48em){
    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }
}
.gallery-columns-7 .gallery-item {
    max-width: 100%;
    width: 14.28%;
}
@media screen and (min-width: 48em){
    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }
}
.gallery-columns-8 .gallery-item {
    max-width: 100%;
    width: 12.5%;
}
@media screen and (min-width: 48em){
    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }
}
.gallery-columns-9 .gallery-item {
    max-width: 100%;
    width: 11.11%;
}
@media screen and (min-width: 48em){
    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}
.post-password-form input {
    border: 1px solid #6B6FFF;
}
.post-password-form input[type=submit] {
    border: 1px solid #6B6FFF;
    background: #6B6FFF;
    color: #fff;
    padding: 0px 15px;
    cursor: pointer;
}
.margin-auto {
    margin: auto;
}